<div class="input formRoot{% if classRoot %} {{ classRoot }}{% endif %}{% if error %} invalid{% endif %}">{# -#}
  <div class="formBox">{# -#}
    <input{{ ' ' -}}
      class="formControl{% if classElement %} {{ classElement }}{% endif %}"{{ ' ' -}}
      type="{{ type | default('text') }}"{{ ' ' -}}
      id="{{ id | default('input-'~name) }}"{{ ' ' -}}
      name="{{ name }}"
      {%- if autocomplete %} autocomplete="{{ autocomplete }}"{%- endif -%}
      {%- if placeholder %} placeholder="{{ placeholder }}"{%- endif -%}
      {%- if required %} required{%- endif -%}
      {%- if attrs %} {{ attrs | raw }}{%- endif -%}
    >{# -#}
    <span class="formUnderline"></span>
    {%- if label -%}
      <label for="{{ id | default('input-'~name) }}" class="formLabel">
        {{- label | raw -}}
      </label>
    {%- endif -%}
  </div>
  {%- if error -%}<div class="formFeedback">{{ error }}</div>{%- endif -%}
</div>{# -#}
